.menuitem{
    font-size: 14px;
  cursor: pointer;
  margin-left: 25px;
  text-decoration: none;
  color: #000;
}

.logo{
    font-weight: bold;
    color: #000;
    text-decoration: none;
    font-size: 30px;
}